/.git
/.github
/.env
/.env.*.php
/.env.*.local
/public/uploads
/storage/logs
/storage/framework
/node_modules
/vendor
/.vscode
/.idea
/dist
/build
.DS_Store
*.md
!README.md
npm-debug.log
yarn-debug.log
yarn-error.log
